# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sln
CommentRemover/CommentRemover/CommentRemover.vcxproj.filters
CommentRemover/CommentRemover/CommentRemover.vcxproj
CommentRemover/.vs/CommentRemover/v15/ipch/AutoPCH/COMMENTREMOVER-1ed1bed9/ICOMMENTREMOVER-2008bd19/ICOMMENTREMOVER.ipch
CommentRemover/.vs/CommentRemover/v15/ipch/AutoPCH/COMMENTREMOVER-1ed1bed9/CPPCOMMENTREMOVER-2c15d9f3/CPPCOMMENTREMOVER.ipch
CommentRemover/.vs/CommentRemover/v15/ipch/AutoPCH/COMMENTREMOVER-1ed1bed9/COMMENTREMOVERCREATOR-1e68e780/COMMENTREMOVERCREATOR.ipch
CommentRemover/.vs/CommentRemover/v15/Browse.VC.opendb
CommentRemover/.vs/CommentRemover/v15/Browse.VC.db
CommentRemover/.vs/CommentRemover/v15/.suo
CommentRemover/Debug/CommentRemover.pdb
CommentRemover/Debug/CommentRemover.ilk
CommentRemover/CommentRemover/test_out.cpp
CommentRemover/CommentRemover/test_in.cpp
CommentRemover/CommentRemover/Debug/vc141.pdb
CommentRemover/CommentRemover/Debug/vc141.idb
CommentRemover/CommentRemover/Debug/CommentRemover.tlog/link.write.1.tlog
CommentRemover/CommentRemover/Debug/CommentRemover.tlog/link.read.1.tlog
CommentRemover/CommentRemover/Debug/CommentRemover.tlog/link.command.1.tlog
CommentRemover/CommentRemover/Debug/CommentRemover.tlog/CommentRemover.lastbuildstate
CommentRemover/CommentRemover/Debug/CommentRemover.tlog/CL.write.1.tlog
CommentRemover/CommentRemover/Debug/CommentRemover.tlog/CL.read.1.tlog
CommentRemover/CommentRemover/Debug/CommentRemover.tlog/CL.command.1.tlog
CommentRemover/CommentRemover/Debug/CommentRemover.log
CommentRemover/CommentRemover/CommentRemover.vcxproj.user
CommentRemover/.vs/CommentRemover/v15/ipch/AutoPCH/COMMENTREMOVER-1ed1bed9/MAIN-ba6a56c2/MAIN.ipch
CommentRemover/.vs/CommentRemover/v15/ipch/AutoPCH/COMMENTREMOVER-1ed1bed9/ICOMMENTREMOVER-25d71d00/ICOMMENTREMOVER.ipch
CommentRemover/.vs/CommentRemover/v15/ipch/AutoPCH/COMMENTREMOVER-1ed1bed9/CPPCOMMENTREMOVER-defbcf9a/CPPCOMMENTREMOVER.ipch
CommentRemover/.vs/CommentRemover/v15/ipch/AutoPCH/COMMENTREMOVER-1ed1bed9/COMMENTREMOVERCREATOR-190f58a7/COMMENTREMOVERCREATOR.ipch
CommentRemover/.vs/CommentRemover/v15/ipch/AutoPCH/COMMENTREMOVER-1ed1bed9/ARGVPARSER-15fbafba/ARGVPARSER.ipch
