# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sln

# Additional
*.tlog
*.db
*.ipch
*.suo
*.pdb
*.ilk
*.idb
*.log
*.filters
*.vcxproj
*.opendb
*.user
CommentRemover/CommentRemover/test_out.cpp
CommentRemover/CommentRemover/test_in.cpp
